<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
</head>

<body>
    <header>
        <h1>Babbage</h1>
        <h3><li><a href="/">Home</a></li></h3>
    </header>
    <main>
        <section>
            <img src="/img/Capitan-America-Render.png" alt="Imagen del Heroe" width="400px">
        </section>
    </main>
    <footer>
        <h4>Cualquier parecido con los Avengers es pura y mera coincidencia, aqui en "DH Heroes" respetamos la originalidad.</h4>
    </footer>
</body>
</html>